* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Noto Sans Mandaic", sans-serif; */
}

.img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.navbar {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 25%;
}

.icon-box img {
  height: 50px;
}

.learn {
  display: flex;
  flex-direction: column;
}

.learn-img img {
  max-width: 100%;
}

.learn-subj {
  padding: 32px 16px;
}

.learn-subj h1 {
  margin-bottom: 32px;
}

.learn-subj p {
  margin-bottom: 24px;
}

.button {
  width: 100%;
  border: none;
  background-color: hsl(0, 0%, 60%);
  color: white;
  padding: 15px 32px;
}

.info {
  padding: 16px;
  margin-bottom: 16px;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
}

.info span,
h2 {
  padding: 16px;
}

.read-more-link {
  color: hsl(212, 69%, 70%);
}

.info-orient {
  display: flex;
  flex-direction: column;
}

.info-campus {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.info-guest {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  padding-bottom: 32px;
}

.course > h2 {
  padding: 16px 0px 16px 0px;
  align-self: center;
}
.course > span {
  padding: 16px 0px 24px 16px;
  background-color: hsl(0, 0%, 40%);
}

.exhibits {
  width: 100%;
}

.exhibits > h2 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: bold;
}

.exhibits video {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
}

footer {
  margin: 16px;
}

footer span {
  text-align: center;
}

.destop-left {
  display: none;
}

.destop-right {
  display: none;
}

.info-desk-left,
.info-desk-right {
  display: none;
}

@media screen and (min-width: 1024px) {
  .icon-box {
    display: none;
  }
  .navbar {
    padding: 0 24px;
    background-color: lightgrey;
  }

  .destop-left {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: lightblue;
  }

  .destop-text-box {
    font-size: 32px;
  }

  .destop-colmar-text {
    color: black;
  }

  .destop-academy-text {
    color: #999999;
  }

  .destop-logo img {
    height: 40px;
  }

  .destop-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 64px;
    gap: 16px;
    font-size: 16px;
  }

  .learn {
    padding: 32px 24px;
    flex-direction: row;
    background-color: lightcyan;
  }

  .learn-img {
    width: 60%;
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
  }

  .learn-subj {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightpink;
    padding-left: 24px;
  }

  .button {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .info-orient,
  .info-campus,
  .info-guest {
    display: none;
  }

  .info {
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  .info-desk-left {
    padding: 32px 24px;
    width: 60%;
  }

  .info-desk-left img {
    width: 100%;
  }

  .info-desk-left h2 {
    padding-top: 32px;
    padding-bottom: 24px;
    padding-left: 0px;
  }

  /* .info-desk-span {
    padding-top: 32px;
 } */
  .info-desk-right {
    width: 40%;
    padding-top: 16px;
  }

  .card {
    padding: 16px;
    display: flex;
  }

  .card img {
    width: 35%;
    height: auto;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 8px;
    width: 65%;
    /* height: 100%; */
  }

  .mobile-course-section {
    display: none;
  }

  .desktop-course {
    display: flex;
    flex-direction: column;

  }
  .course {
    padding: 0;
  }
  .desktop-course > h2 {
    text-align: center;
    text-align: center;
    padding: 32px 0px 0px 0px;
  }
  .block-of-course {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 32px 72px;


  }

  .course-card img {
    max-width: 100%;
    height: auto;
  }



  .course-card-text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
